ol,
ul,
menu{
    list-style: none;
}

a{
    color: currentColor!important;
    text-decoration: none!important;
}

.debug {
    background-color: white;
    border: 2px dotted rgb(0, 0, 0);
}

.bg-dark{
    background-color: rgba(44,62,80,255);
    /* padding: 10px; */
}

.bg-shade{
    background-color: rgba(26,188,156,255);
    padding: 10px;
}

.bg-white{
    background-color: white;
    padding: 10px;
}

.bg-lightdark{
    background-color: rgba(58,84,109,255);
    padding: 10px;
}